*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing:border-box;
    background-color:#60797d;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
center{
    align-items: center;
    justify-items: center;
}
button{
    padding: 10px;
    cursor: pointer;
    border: solid 1px white;
    background-color: #8cb8bf;
    border-radius: 5px;
}
hr{
    margin-top: 50px;
    margin-bottom: 15px;
}
footer{
    position: fixed;
    Width: 100%;
    bottom: 0;
    margin-bottom: 15px;
    font-size: 18px;
}
