*{
    margin: 0;
}
body{
    box-sizing:border-box;
    padding: 15px;
    background-color:#60797d;
    display: flex;
    flex-direction: column;
}
fieldset{
    border-radius: 10px;
    border: 1px solid white;
    padding: 35px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
legend{
    color: #000;
    font-size: 23px;
}
input{
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

hr{
    margin-top: 50px;
    margin-bottom: 15px;;
}
#result{
    display: none;
}
#data{
    display: block;
}
footer{
    position: fixed;
    Width: 100%;
    bottom: 0;
    margin-bottom: 15px;
    font-size: 18px;
}